$lightGreen: #CCF0E6;
$green: #58A9A5;
$darkGreen: #486958;
$whiteColor: white;
$blackColor: #1C2323;
$darkGrey: #404242;
$yellow: #FEC62D;

@mixin font($size, $weight, $lineHeight) {
    font-weight: $weight;
    font-size: $size;
    line-height: $lineHeight;
}

//обнуление
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
}


//общие стили
.wrapper {
    min-height: 100%;
    overflow: hidden;
}

._container {
    max-width: 1612px;
    margin: 0px auto;
    padding: 0px 100px;
    box-sizing: content-box;
}

._subtitle-text {
    @include font(30px, 400, 45px);
}

h2 {
    @include font(70px, 800, 105px);
    color: $blackColor;
}


//header
.header-bar {
    min-height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo-group {
    position: relative;
    width: 160px;

    span {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        @include font(35px, 800, 52.5px);
        color: $green;
    }
}

.nav-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // flex-wrap: wrap;
    width: 70%;
}

ul {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;
    margin-right: 30px;

    li {
        margin-right: 20px;
        min-width: 112px;
    }

    a {
        @include font(25px, 400, 37.5px);
    }

    a,
    a:hover,
    a:visited {
        color: $darkGrey;
    }
}

button:not(.play-btn) {
    width: 271px;
    height: 80px;
    background: $green;
    border-radius: 15px;
    color: $whiteColor;
    outline: none;
    border: none;
    cursor: pointer;
    display: block;

    &:not(.header-btn) {
        border-bottom-left-radius: 0;
        @include font(25px, 700, 37.5px);
    }
}

.header-btn {
    @include font(25px, 500, 37.5px);
}

.header-main-block {
    display: flex;
    justify-content: space-between;
    margin-top: 105px;
}

.header-text-block {
    max-width: 743px;

    h2 {
        margin-bottom: 50px;
    }

    p {
        color: $darkGrey;
        margin-bottom: 50px;
    }
}

.header-img-block {
    flex: 1 1 auto;

    .bg-block {
        background-image: url('../img/bg.png');
        position: relative;
        right: -36px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        padding: 0 0 95% 0;
        overflow: hidden;
    }

    .img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        position: absolute;
        top: 0;
        left: 0;
    }
}


//description
.description {
    margin-top: 120px;

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    p {
        text-align: center;
        margin-bottom: 71px;
        color: $darkGrey;
    }
}

.desciption-video-block {
    display: flex;
    justify-content: space-between;
    height: 350px;
    margin-bottom: 150px;

    .video-preview {
        overflow: hidden;

        img {
            width: 100%;
            height: 350px;
            object-fit: cover;
            object-position: center;
        }
    }

    .video-info {
        padding: 70px 106px 89px 115px;
        background-color: $lightGreen;
        border-radius: 0 10px 10px 0;
        position: relative;
        max-width: 549px;
    }

    p {
        text-align: left;
        color: $darkGreen;
        @include font(20px, 500, 30px);
        min-width: 328px;
    }

    .see {
        color: $darkGreen;
        @include font(20px, 700, 30px);
        position: absolute;
        top: 231px;
        left: 115px;
        cursor: pointer;
        letter-spacing: 6px;
    }

    .play-btn {
        position: absolute;
        cursor: pointer;
        top: 182px;
        left: (-128px/2);
        width: 128px;
        height: 128px;
        border: none;
        background: rgba($color: $whiteColor, $alpha: 0.4);
        border-radius: 50%;


        & img:first-child {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        & img:last-child {
            position: absolute;
            top: 43.26px;
            left: 57px;
        }
    }
}

.mission-description-block {
    display: flex;
    justify-content: space-between;

    .mission-text {

        h3 {
            @include font(40px, 700, 60px);
            color: $blackColor;
            text-align: left;
            margin-bottom: 50px;
        }

        p {
            font-weight: 500;
            color: $darkGreen;
            text-align: left;
        }
    }
}

.mission-image {
    overflow: hidden;
    position: relative;
    flex: 1 0 50%;
    width: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        position: absolute;
        top: 0;
        left: 0;
    }
}


//projects
.projects {
    margin-top: 120px;

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    p._subtitle-text {
        color: $darkGrey;
        text-align: center;
        margin-bottom: 51px;
    }
}

.project-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .project-card {
        flex: 0 1 30%;
        display: flex;
        flex-direction: column;
    }

    .project-info-block {
        flex: 1 1 auto;
    }

    h3 {
        @include font(40px, 700, 60px);
        color: $green;
        margin-bottom: 5px;
    }

    p {
        @include font(20px, 500, 30px);
        color: $darkGreen;
    }

    .img {
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &>div:first-child,
    &>div:last-child {
        .img {
            margin-top: 35px;
        }
    }

    &>div:nth-child(2) {
        .img {
            margin-bottom: 35px;
        }
    }
}


//testimonial
.testimonial {
    margin-top: 250px;
    margin-bottom: 62px;
    width: 100%;

    h2 {
        text-align: center;
    }

    .brands-group {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 22px;
        margin-bottom: 62px;
    }

    a {
        display: block;
        padding: 10px;
    }
}

.testimonial-block {
    display: flex;
    min-height: 700px;
}

.testimonial-img {
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.testimonial-info {
    padding: 51px 135px 119px 135px;
    flex: 1 0 60%;
    margin-left: auto;
    margin-right: auto;
    background: $lightGreen;
}

.testimonial-text-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text {
    width: 100%;

    p {
        @include font(25px, 500, 37.5px);
        color: $darkGreen;
        margin-top: -215px;
        max-width: 752px;
        padding-bottom: 70px;
    }

    .white-symb {
        @include font(300px, 400, 321.3px);
        color: $whiteColor;
        font-family: 'Port Lligat Slab', serif;
        margin-left: -55px;
    }
}

.ital {
    @include font(25px, 500, 37.5px);
    font-style: italic;
    color: $green;
}

.count-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 752px;

    .count {
        color: $green;
        @include font(30px, 600, 45px);

        div {
            @include font(70px, 800, 105px);
        }
    }

    .count:not(:last-child) {
        margin-right: 20px;
    }
}


//contacts
.contactUs {
    margin-top: 240px;
    margin-bottom: 334px;
}

.contact-wrap {
    display: flex;
}

.title {
    h2 {
        margin-bottom: 10px;
    }

    div {
        @include font(25px, 500, 37.5px);
        color: $darkGreen;
    }
}

#form-contact {
    border: 1px solid $darkGreen;
    padding: 35px 55px;
    width: 100%;
    margin-left: 105px;

    input {
        display: block;
        outline: none;
        border: none;
        width: 100%;
        @include font(25px, 500, 37.5px);
        padding: 25px 0;
        margin-bottom: 20px;

        &:not([type=textarea]) {
            border-bottom: 1px solid $darkGreen;
        }

        &::placeholder {
            color: $darkGreen;
        }
    }

    button {
        float: right;
    }
}

//Media-requests

//1400px************************************
@media (max-width:1400px) {

    section.description,
    section.projects,
    section.testimonial,
    section.contactUs {
        margin-top: 100px;
    }

    .header-main-block {
        flex-direction: column;
        justify-content: center;

        .header-text-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto 60px auto;
            text-align: center;
        }

        .bg-block {
            right: 0;
            padding: 0 0 55% 0;
        }
    }

    .mission-description-block {
        flex-direction: column-reverse;
        height: 100%;

        .mission-text {

            h3,
            p {
                text-align: center;
            }
        }

        .mission-image {
            overflow: visible;
            text-align: center;

            img {
                position: static;
                width: 60%;
            }
        }
    }

    .testimonial-info {
        padding: 30px 80px;
    }

    .testimonial-block {
        flex-direction: column-reverse;
        height: auto;

        .testimonial-img {
            margin-top: 40px;
            text-align: center;

            img {
                width: 60%;
            }
        }
    }
}


//1200px**********************************
@media (max-width:1200px) {

    section.description,
    section.projects,
    section.testimonial,
    section.contactUs {
        margin-top: 80px;
    }

    .desciption-video-block {
        flex-direction: column;
        height: 100%;

        .video-preview {
            overflow: visible;
        }

        .video-info {
            display: flex;
            flex-direction: column-reverse;
            max-width: 100%;
            border-radius: 0 0 10px 10px;
            align-items: center;

            p {
                text-align: center;
                margin-bottom: 0;
            }

            .see {
                position: static;
                margin: 30px auto;
            }
        }

        .play-btn {
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}


//992px**********************************
@media (max-width: 992px) {
    h2 {
        @include font(60px, 800, 150%);
    }

    .desciption-video-block {
        margin-bottom: 70px;
    }

    .project-cards {
        flex-direction: column;

        h3,
        p {
            text-align: center;
        }

        .img {
            text-align: center;

            img {
                width: 60%;
            }
        }

        .project-card:nth-child(2) {
            flex-direction: column-reverse;

            p {
                margin-bottom: 35px;
            }
        }

        .project-card:not(:last-child) {
            margin-bottom: 80px;
        }
    }

    .contact-wrap {
        flex-direction: column;
        justify-content: center;

        .title {
            margin-bottom: 40px;

            h2,
            div {
                text-align: center;
            }
        }
    }

    #form-contact {
        margin: auto;
    }
}


//768px**********************************
@media (max-width:768px) {

    section.description,
    section.projects,
    section.testimonial,
    section.contactUs {
        margin-top: 60px;
    }

    .nav-group {
        width: 100%;
    }

    ._container {
        padding: 0px 40px;
    }

    .header-main-block {
        .bg-block {
            right: 0;
            padding: 0 0 75% 0;
        }
    }

    .count-group {
        max-width: 100%;

        .count {
            @include font(20px, 600, 150%);

            div {
                @include font(50px, 800, 150%);
            }
        }

    }

    .text {
        p {
            @include font(16px, 500, 150%);
        }
    }
}


//576px**********************************
@media (max-width: 576px) {
    h2 {
        @include font(38px, 800, 150%);
    }

    ul {
        margin-right: 15px;
    }

    header {
        .header-btn {
            font-size: 18px;
            height: 50px;
        }
    }

    ._subtitle-text {
        @include font(18px, 400, 150%);
    }

    .desciption-video-block {
        .video-info {
            padding: 70px 40px;
        }
    }

    .mission-description-block {
        .mission-image {
            img {
                width: 80%;
            }
        }

        .mission-text {
            h3 {
                font-size: 25px;
                line-height: 150%;
            }

            p {
                font-size: 16px;
                line-height: 150%;
            }

        }
    }

    .project-cards {

        .project-card:not(:last-child) {
            margin-bottom: 40px;
        }

        h3 {
            font-size: 30px;
            line-height: 150%;
        }

        p {
            font-size: 16px;
            line-height: 150%;
        }
    }

    .testimonial {
        a:nth-child(3) {
            width: 240px;

            img {
                width: 100%;
                object-fit: contain;
            }
        }
    }

    .testimonial-info {
        padding: 20px 40px;
    }

    .count-group {
        .count {
            div {
                @include font(40px, 800, 150%);
            }
        }
    }

    .text {

        .white-symb {
            @include font(200px, 400, 321.3px);
            margin-left: -40px;


        }
    }

    .contact-wrap {
        .title {
            div {
                @include font(18px, 500, 150%);
            }
        }
    }
}

//470px**********************************
@media (max-width: 470px) {
    .desciption-video-block {
        .video-info {

            p,
            .see {
                font-size: 14px;
                line-height: 150%;
                min-width: auto;
            }
        }
    }

    #form-contact {
        padding: 20px 15px;

        input {
            padding: 10px 0;
            @include font(16px, 500, 150%);
        }

        button {
            width: 100%;
            @include font(16px, 700, 150%);
        }
    }
}